.refstb-citediv {
	:invalid {
		border-color: red;
	}

	input[type="checkbox"]:focus,
	select:focus {
		outline: 2px solid #4a90e2;
		outline-offset: 2px;
	}
}

.refstb-dialog {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 9999;
	min-width: 250px;
	max-height: 100vh;
	overflow-y: scroll;

	background: var(--background-color-base, #fff);
	color: var(--color-base, #111);
	border: 1px solid #999;
	box-shadow: 0 4px 10px var(--box-shadow-color-alpha-base, rgba(0,0,0,0.06));

	.refstb-header {
		cursor: move;
		padding: 6px 10px;
		background: var(--background-color-neutral, #eaecf0);
		color: var(--color-base, #111);

		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.refstb-body {
		padding: 10px;
		font-size: 14px;
	}
}
	
